html {
  font-size: 24px;
  font-family: quicksand;
}
div {
  margin: 20px;
}

.vmin {
  background: pink;
  width: 100vmin;
  height: 100vmin;
}

.vmax {
  background: plum;
  width: 50vmax;
  height: 50vmax; 
}